{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca CEP</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
   </head>

    <body class="corpo">
        <div class="container">

				<h1>Busca CEP</h1>
				<p>Você pode encontrar qualquer CEP que esteja disponível em nosso banco de dados</p>

			<form method="get">
				<input type="text" name="cep" id="cep" placeholder="cep" />
				<button type="submit">Buscar</button>
			</form>
            <div class="resposta">
                {% for chave, valor in resposta_consulta.items %}
                    {{ chave }}:
                    {{ valor }} <br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>